{% extends "master_page/master_page.html" %}

{% block title %}Detalles de ofertas{% endblock %}

{% block body %}

    <div>

        <h3>Identificador : {{ oferta.identificador }}</h3>
        <p>Titulo : {{ oferta.titulo }}</p>
        <p>Descripcion : {{ oferta.descripcion }}</p>
        <p>Fecha de creacion : {{ oferta.fecha_creacion }}</p>
        <p>Autor : {{ oferta.autor.django_user.first_name }} {{ oferta.autor.django_user.last_name }} </p>
        {% if oferta.vetada %}
            <p>Motivo de veto : {{ oferta.motivo_veto }}</p>
        {% endif %}

        <fieldset><legend>Actividades</legend>

            <fieldset>
                {% for actividad in actividades %}
                    <p>{{ actividad.identificador }}</p>
                    <p>{{ actividad.titulo }}</p>
                    <p><a href="actividad/detalles/{{actividad.id}}/">Detalles de la actividad</a></p>
                {% endfor %}
            </fieldset>

        </fieldset>

    </div>

    {% if oferta.borrador and oferta.autor == usuario %}
        <td>
            <button onclick="window.location.href = '/oferta/edicion/{{ oferta.id }}/'">Editar oferta</button>
        </td>
        <td>
            <button id="button_eliminar" onclick="alerta_redireccion('Desea eliminar esta oferta ?', '/oferta/eliminacion/{{ oferta.id }}/')">Eliminar oferta</button>
        </td>
    {% endif %}

{% endblock %}