{% extends "master_page/master_page.html" %}

{% block title %}Perfil de {{ usuario.django_user.username }}{% endblock %}

{% block body %}

    <div>

        <p>Nombre : {{ usuario.django_user.first_name }}</p>
        <p>Apellidos : {{ usuario.django_user.last_name }}</p>
        <p>Email : {{ usuario.django_user.email }}</p>
        <p>Telefono : {{ usuario.telefono }}</p>
        <p>Empresa/equipo : {{ usuario.empresa_u_equipo }}</p>        

        <fieldset><legend>Anexos</legend>
            <ul>
                {% for anexo in anexos %}
                    <li><a href="{{ anexo.anexo }}">{{ anexo.anexo }}</a></li>
                    <button onclick="window.location.href = '/anexo/creacion_edicion/{{ anexo.id }}/'">Editar anexo</button>
                    <button onclick="window.location.href = '/anexo/eliminacion/{{ anexo.id }}/'">Eliminar anexo</button>
                {% endfor %}
            </ul>
            <button onclick="window.location.href = '/anexo/creacion_edicion/'">Crear nuevo anexo</button>
        </fieldset>

    </div>

{% endblock %}